body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
a:hover {
    transform: scale(1.01);
    transition: .1s;
}
:root {
    --header-height: 122px;
    --footer-height: 50px;
}
header {
    height: var(--header-height);
    background: #0F49AA;
    display: flex;
    align-items: center;
}
main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    background: #AAC1D5;
    padding: 20px;
}
footer {
    height: var(--footer-height);
    background: #0F49AA;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.title-wrapper {
    margin: 0 auto;
    font-weight: bold;
    color: white;
    padding: 16px 120px;
    text-align: center;
}
.title {
    font-size: 36px;
    text-shadow: 10px 5px 5px rgba(0, 0, 0, .5);
}
.moto {
    font-size: 14px;
    text-shadow: 10px 5px 5px rgba(0, 0, 0, .5);
}
.contacts {
    padding: 16px 20px;
}
.contacts > a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 24px;
    line-height: 36px;
    text-shadow: 10px 5px 5px black;
}
.logo {
    height: 100%;
}
.tiles__list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.tile {
    list-style: none;
    background: rgb(157, 178, 196);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .5);
}
.tile__img {
    max-height: 200px;
}
.tile__title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, .3);
}
.under-construction {
    color: white;
    font-size: 36px;
    padding: 50px;
    background: #0F49AA;
    text-align: center;
    margin-bottom: 36px;
    position: relative;
    overflow: hidden;
}
.under-construction__info {
    margin-bottom: 36px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}
.under-construction__link {
    display: block;
    background: #666FB0;
    text-decoration: none;
    padding: 36px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, .5);
}
.under-construction__link:hover {
    box-shadow: 8px 5px 5px rgba(0, 0, 0, .5);
}
.under-construction__link:visited {
    color: white;
}
.under-construction__hand {
    position: absolute;
    height: 180px;
    right: 20%;
    bottom: -60px;
    transform: scaleX(-1) rotate(45deg);
}
.details {
    margin-bottom: 20px;
}
.map {
    text-align: center;
}
.social-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}
.social-item {
    margin-right: 10px;
}
.social-link {

}
.social-image {
    height: 40px;
}
.success {
    color: white;
    margin-left: auto;
    font-size: 14px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}